In [1]:
# Import the dependencies.
import pandas as pd
import os
import json
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2022-07-12 01:41:28,55.7435,-97.8558,62.76,77,75,5.75
1,1,Dikson,RU,2022-07-12 01:41:29,73.5069,80.5464,37.60,93,100,6.71
2,2,Torbay,CA,2022-07-12 01:41:29,47.6666,-52.7314,60.53,65,75,16.11
3,3,Rikitea,PF,2022-07-12 01:41:29,-23.1203,-134.9692,74.71,73,0,12.24
4,4,Bengkulu,ID,2022-07-12 01:38:05,-3.8004,102.2655,79.95,76,41,2.13

In [3]:
# Get the city data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Bengkulu,ID,2022-07-12 01:38:05,-3.8004,102.2655,79.95,76,41,2.13
6,6,Port Blair,IN,2022-07-12 01:41:30,11.6667,92.7500,84.24,79,100,12.66
7,7,Atuona,PF,2022-07-12 01:40:20,-9.8000,-139.0333,77.43,75,18,16.67
22,22,Puerto Escondido,MX,2022-07-12 01:38:02,15.8500,-97.0667,81.36,84,98,7.18
24,24,Vaini,TO,2022-07-12 01:41:37,-21.2000,-175.2000,80.76,74,20,11.50
26,26,Butaritari,KI,2022-07-12 01:41:37,3.0707,172.7902,81.93,80,79,16.71
28,28,Buala,SB,2022-07-12 01:41:38,-8.1450,159.5921,85.44,65,18,7.43
33,33,Longyan,CN,2022-07-12 01:41:40,25.1072,117.0225,89.83,59,75,2.71
40,40,Jamestown,US,2022-07-12 01:37:00,42.0970,-79.2353,76.95,65,0,9.22
43,43,Hambantota,LK,2022-07-12 01:41:44,6.1241,81.1185,77.34,88,40,3.44

In [13]:
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
4           Bengkulu      ID     79.95  -3.8004  102.2655
6         Port Blair      IN     84.24  11.6667   92.7500
7             Atuona      PF     77.43  -9.8000 -139.0333
22  Puerto Escondido      MX     81.36  15.8500  -97.0667
24             Vaini      TO     80.76 -21.2000 -175.2000
26        Butaritari      KI     81.93   3.0707  172.7902
28             Buala      SB     85.44  -8.1450  159.5921
33           Longyan      CN     89.83  25.1072  117.0225
40         Jamestown      US     76.95  42.0970  -79.2353
43        Hambantota      LK     77.34   6.1241   81.1185

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Bengkulu,ID,79.95,-3.8004,102.2655,Grage Hotel Bengkulu
6,Port Blair,IN,84.24,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
7,Atuona,PF,77.43,-9.8000,-139.0333,Villa Enata
22,Puerto Escondido,MX,81.36,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
24,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
26,Butaritari,KI,81.93,3.0707,172.7902,Isles Sunset Lodge
28,Buala,SB,85.44,-8.1450,159.5921,Maringe Lagoon Lodge
33,Longyan,CN,89.83,25.1072,117.0225,Jinjiang Inn Longyan Zhongshan Road Pedestrian...
40,Jamestown,US,76.95,42.0970,-79.2353,Hampton Inn & Suites Jamestown
43,Hambantota,LK,77.34,6.1241,81.1185,Bungalow 63

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))