## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
0,0,Dzerzhinskoye,RU,2022-07-24 05:31:19,56.8344,95.2283,73.09,42,32,6.91,scattered clouds,0.0,0.0
1,1,Aklavik,CA,2022-07-24 05:31:20,68.2191,-135.0107,42.55,86,100,9.48,overcast clouds,0.0,0.0
2,2,Puerto Ayora,EC,2022-07-24 05:29:33,-0.7393,-90.3518,69.55,92,63,7.00,broken clouds,0.0,0.0
3,3,Mildura,AU,2022-07-24 05:30:07,-34.2000,142.1500,69.85,42,17,14.81,few clouds,0.0,0.0
4,4,Bathsheba,BB,2022-07-24 05:31:20,13.2167,-59.5167,81.21,86,20,16.11,few clouds,0.0,0.0

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
4,4,Bathsheba,BB,2022-07-24 05:31:20,13.2167,-59.5167,81.21,86,20,16.11,few clouds,0.0,0.0
5,5,Samalkot,IN,2022-07-24 05:31:21,17.0500,82.1833,88.18,62,94,12.44,overcast clouds,0.0,0.0
8,8,Iracoubo,GF,2022-07-24 05:31:22,5.4802,-53.2011,76.21,89,97,7.18,overcast clouds,0.0,0.0
10,10,Hendersonville,US,2022-07-24 05:31:23,36.3048,-86.6200,83.28,77,2,4.03,clear sky,0.0,0.0
16,16,Tessalit,ML,2022-07-24 05:31:25,20.1986,1.0114,80.37,50,70,20.11,broken clouds,0.0,0.0

In [5]:
# 4a. Determine if there are any empty rows.
print(len(preferred_cities_df))
preferred_cities_df.count()

259

City_ID                    259
City                       259
Country                    259
Date                       259
Lat                        259
Lng                        259
Max Temp                   259
Humidity                   259
Cloudiness                 259
Wind Speed                 259
Current Description        259
Rain inches (last 3hrs)    259
Snow inches (last 3hrs)    259
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

259

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
4,4,Bathsheba,BB,2022-07-24 05:31:20,13.2167,-59.5167,81.21,86,20,16.11,few clouds,0.0,0.0
5,5,Samalkot,IN,2022-07-24 05:31:21,17.0500,82.1833,88.18,62,94,12.44,overcast clouds,0.0,0.0
8,8,Iracoubo,GF,2022-07-24 05:31:22,5.4802,-53.2011,76.21,89,97,7.18,overcast clouds,0.0,0.0
10,10,Hendersonville,US,2022-07-24 05:31:23,36.3048,-86.6200,83.28,77,2,4.03,clear sky,0.0,0.0
16,16,Tessalit,ML,2022-07-24 05:31:25,20.1986,1.0114,80.37,50,70,20.11,broken clouds,0.0,0.0

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Bathsheba,BB,81.21,few clouds,13.2167,-59.5167,
5,Samalkot,IN,88.18,overcast clouds,17.0500,82.1833,
8,Iracoubo,GF,76.21,overcast clouds,5.4802,-53.2011,
10,Hendersonville,US,83.28,clear sky,36.3048,-86.6200,
16,Tessalit,ML,80.37,broken clouds,20.1986,1.0114,
17,Hasaki,JP,80.29,broken clouds,35.7333,140.8333,
21,Kasimov,RU,75.78,clear sky,54.9411,41.3953,
24,Baripada,IN,86.86,light rain,21.9350,86.7214,
29,Tambovka,RU,79.43,scattered clouds,50.0969,128.0489,
34,Karaton,ID,84.90,broken clouds,-6.3424,106.1045,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping the city.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Bathsheba,BB,81.21,few clouds,13.2167,-59.5167,Atlantis Hotel
5,Samalkot,IN,88.18,overcast clouds,17.0500,82.1833,Hotel Sai Residency
8,Iracoubo,GF,76.21,overcast clouds,5.4802,-53.2011,Le Gîte d’Iracoubo
10,Hendersonville,US,83.28,clear sky,36.3048,-86.6200,Hyatt Place Nashville/Hendersonville
17,Hasaki,JP,80.29,broken clouds,35.7333,140.8333,Inubosaki Kanko Hotel
21,Kasimov,RU,75.78,clear sky,54.9411,41.3953,Hotel Kasimov
24,Baripada,IN,86.86,light rain,21.9350,86.7214,Aparna Hotel
29,Tambovka,RU,79.43,scattered clouds,50.0969,128.0489,Lyzhnaya Gorka
34,Karaton,ID,84.90,broken clouds,-6.3424,106.1045,Parkir Mobil Wisata CAS Water Park
35,Khatanga,RU,80.01,scattered clouds,71.9667,102.5000,"""Khatanga"""

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))